<title> Guess the determinant of 3*3 matrix</title>
    <h1> Please enter three arrays down below with 3 elements. </h1>
    <h1> Enter your guess in the last box. </h1>
    <h1> Note: If you do not enter same length arrays, the result will always be false. </h1>
        Result is {{result}}

    <form action="compute" method="post">
        <textarea name ="input1" rows="10" cols="30"></textarea>
        <textarea name ="input2" rows="10" cols="30"></textarea>
        <textarea name ="input3" rows="10" cols="30"></textarea>
        <textarea name ="input4" rows="10" cols="30"></textarea>        
        <br>
        <input type="submit">
    </form>        