<title> Determinant</title>
    <h1> Guess the determinant of 3*3 matrix </h1>
    
     This program lets you guess the determinant of a 3*3 matrix. <br>
     For every box, please enter the 3 integers each row contains.<br>
     For example: if the first row is [ 5 8 7 ], first box needs to look like this: <br>
     <h5> 5 </h5> <br>
     <h5> 8 </h5> <br>
     <h5> 7 </h5> <br>     
     Enter your guess in the last box. 
    
       <h3> {{result}} </h3>

    <form action="compute" method="post">
        <textarea name ="input1" rows="7" cols="20"></textarea>
        <textarea name ="input2" rows="7" cols="20"></textarea>
        <textarea name ="input3" rows="7" cols="20"></textarea>
        <textarea name ="input4" rows="7" cols="20"></textarea>        
        <br>
        <input type="submit">
    </form>        